# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
react-redux-crud-example/.env
react-redux-crud-example/.gitignore
react-redux-crud-example/package-lock.json
react-redux-crud-example/package.json
react-redux-crud-example/README.md
react-redux-crud-example/public/index.html
react-redux-crud-example/public/img/misralogo.png
react-redux-crud-example/src/App.js
react-redux-crud-example/src/index.js
react-redux-crud-example/src/logo.svg
react-redux-crud-example/src/Components/Ad.jsx
react-redux-crud-example/src/Components/ChoroplethMap.js
react-redux-crud-example/src/Components/Delaga.jsx
react-redux-crud-example/src/Components/Delagalits.jsx
react-redux-crud-example/src/Components/delagalits.scss
react-redux-crud-example/src/Components/Liste_ad.jsx
react-redux-crud-example/src/Components/Natilist.jsx
react-redux-crud-example/src/Components/National.jsx
react-redux-crud-example/src/Components/Tunisia.topo.json
react-redux-crud-example/src/Components/Widget/Widget.jsx
react-redux-crud-example/src/Components/Widget/widget.scss
react-redux-crud-example/src/Components/chart/Chart.jsx
react-redux-crud-example/src/Components/chart/chart.scss
react-redux-crud-example/src/Components/feature/Feature.jsx
react-redux-crud-example/src/Components/feature/feature.scss
react-redux-crud-example/src/Components/map/Map.jsx
react-redux-crud-example/src/Components/navbar/Navbar.jsx
react-redux-crud-example/src/Components/navbar/navbar.scss
react-redux-crud-example/src/Components/sidebar/Sidebar.jsx
react-redux-crud-example/src/Components/sidebar/sidebar.scss
react-redux-crud-example/src/context/darkmodeContext.js
react-redux-crud-example/src/context/darkmodeReducer.js
react-redux-crud-example/src/pages/ads/Ads.jsx
react-redux-crud-example/src/pages/ads/ads.scss
react-redux-crud-example/src/pages/home/Home.jsx
react-redux-crud-example/src/pages/home/home.scss
react-redux-crud-example/src/pages/logout/Logout.jsx
react-redux-crud-example/src/pages/logout/logout.scss
react-redux-crud-example/src/pages/new/New.jsx
react-redux-crud-example/src/pages/new/new.scss
react-redux-crud-example/src/pages/notifications/Notifications.jsx
react-redux-crud-example/src/pages/notifications/notifications.scss
react-redux-crud-example/src/pages/profile/Profile.jsx
react-redux-crud-example/src/pages/profile/profile.scss
react-redux-crud-example/src/pages/settings/Settings.jsx
react-redux-crud-example/src/pages/settings/settings.scss
react-redux-crud-example/src/pages/single/Single.jsx
react-redux-crud-example/src/pages/single/single.scss
react-redux-crud-example/src/style/darkmode.scss
